.u-small {
  font-size: 80%;
}

.u-full {
  width: 100%;
}

.u-underline {
  border-bottom: 1px solid currentcolor;
}

.u-sserif {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75em;
}

.u-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
