@import "helpers/variables";
@import "helpers/utilities";

@import "blocks/Cutter";
@import "blocks/Img";
@import "blocks/Map";
@import "blocks/Topper";
@import "blocks/Ribbon";
@import "blocks/Form";



*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: $color-fg;
}
